@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #080a12;
  font-family: 'REM', 'Exo 2', sans-serif;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}